{% extends 'base.html' %}

{% load static %}

{% block title %}Каталог{% endblock %}

{% block content %}
    <style>
        .book .box {
            margin: 2rem;
            position: relative;
            overflow: hidden;
            border: var(--border);
            text-align: center;
            width: 30%;
            display: inline-block;
        }

        .book .box:hover {
            border: var(--border-hover);
        }

        .book .box .image {
            padding: 1rem;
            background: linear-gradient(15deg, #eee 30%, #fff 30.1%);
        }

        .book .box:hover .image {
            transform: translateY(6rem);
        }

        .book .box .image img {
            height: 25rem;
        }

        .book .box .icons {
            border-bottom: var(--border-hover);
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            background: #fff;
            z-index: 1;
            transform: translateY(-105%);
        }

        .book .box:hover .icons {
            transform: translateY(0%);
        }

        .book .box .icons a {
            color: var(--black);
            font-size: 2.2rem;
            padding: 1.3rem 1.5rem;
        }

        .book .box .icons a:hover {
            background: var(--basic);
            color: #fff;
        }

        .book .box .content {
            background: #eee;
            padding: 1.5rem;
        }

        .book .box .content h3 {
            font-size: 2rem;
            color: var(--black);
        }

        .book .box .content .price {
            font-size: 2.2rem;
            color: var(--black);
            padding-top: 1rem;
        }

        .header-2 {
            background: var(--basic);
        }

        .header-2 .navbar {
            text-align: center;
        }

        .header-2 .navbar a {
            color: #fff;
            display: inline-block;
            padding: 1.2rem;
            font-size: 1.7rem;
        }

        .header-2 .navbar a:hover {
            background: var(--dark-color);
        }

        .header-2.active {
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            z-index: 1000;
        }

        .empty-cart-message {
            text-align: center;
            margin: 320px;
        }

        .empty-cart-message p {
            font-size: 50px;
            font-weight: bold;
            color: #666;
        }

        .empty-cart-message a {
            margin-top: 50px;
        }
    </style>

    <section>
        <h1 class="heading"><span>Каталог</span></h1>

        <div class="header-2">
            <nav class="navbar">
                <a href="{% url 'catalogPage' %}">Все</a>
                {% for genre in genres %}
                    <a href="/catalog/?genre={{genre.id}}">{{ genre.genreName }}</a>
                {% endfor %}
            </nav>
        </div>

        <div class="book">
            {% if books %}
                {% for book in books %}
                    <div class="box">
                        <div class="icons">
                            <a href="#" class="fas fa-search"></a>
                            <a href="#" class="fas fa-heart" id="favorite-icon-{{ book.id }}" onclick="addToFavorites({{ book.id }})"></a>
                            <a href="{% url 'bookDetail' pk=book.pk %}" class="fas fa-eye"></a>
                        </div>
                        <div class="image">
                            <img src="{{ book.bookImage }}" alt="">
                        </div>
                        <div class="content">
                            <h3>{{ book.bookName }}</h3>
                            <div class="price">{{ book.price }} ₸</div>
                            {% if user.is_authenticated %}
                                <form method="post" action="{% url 'add_to_cart' book.id %}">
                                    {% csrf_token %}
                                    <button type="submit" class="btn">Добавить в корзину</button>
                                </form>
                            {% else %}
                                <a href="/login" class="btn">Добавить в корзину</a>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <div class="empty-cart-message">
                    <p>Нет книг данного жанра</p>
                    <a href="{% url 'catalogPage' %}" class="btn">Перейти в каталог</a>
                </div>
            {% endif %}
        </div>
    </section>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            updateFavorites(); // Вызываем функцию обновления цвета сердца при загрузке страницы
        });

        function updateFavorites() {
            fetch('{% url 'get_favorites' %}')
            .then(response => response.json())
            .then(data => {
                // Получаем список избранных книг
                const favoriteBooks = data.favorite_books;

                // Обновляем цвет сердца для каждой книги
                favoriteBooks.forEach(bookId => {
                    const favoriteIcon = document.getElementById('favorite-icon-' + bookId);
                    if (favoriteIcon) {
                        favoriteIcon.style.color = 'red'; // Устанавливаем красный цвет для сердца
                    }
                });
            })
            .catch(error => {
                console.error('Ошибка при получении списка избранных книг:', error);
            });
        }

        function addToFavorites(bookId) {
            fetch(`/add_to_favorites/${bookId}/`, {
                method: 'POST',
                headers: {
                    'X-CSRFToken': '{{ csrf_token }}',
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    'book_id': bookId
                })
            })
            .then(response => response.json())
            .then(data => {
                if (data.status === 'success') {
                    location.reload(); // Перезагружаем страницу после успешного добавления/удаления товара
                } else {
                    alert('Что-то пошло не так.');
                }
            })
            .catch(error => {
                console.error('Ошибка при выполнении запроса:', error);
                alert('Что-то пошло не так.');
            });
        }
    </script>
{% endblock %}
